<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="OmniStats"
           Version="$(var.Version)"
           Manufacturer="OmniStats Project"
           UpgradeCode="bf1ea8b0-8c2f-48eb-bf8c-1e24bc30cdff"
           Scope="perUser">

    <MajorUpgrade DowngradeErrorMessage="A newer version of OmniStats is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="LogoIcon" SourceFile="$(var.ResourceDir)\Logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="LogoIcon" />
    <Property Id="ARPHELPLINK" Value="https://omnistats.org/support" />
    <Property Id="ARPURLINFOABOUT" Value="https://omnistats.org" />

    <ui:WixUI Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="installer/wix/license.rtf" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="OmniStats">
        <Component Id="ApplicationFiles" Guid="A7A9073A-EE86-4F2F-B955-C178D0B7583D">
          <File Id="OmniStatsExe" Source="$(var.SourceDir)\OmniStats.exe" KeyPath="yes" />
          <File Id="OmniStatsUpdaterExe" Source="$(var.SourceDir)\OmniStatsUpdater.exe" />
          <Shortcut Id="StartMenuShortcut"
                    Directory="ProgramMenuFolder"
                    Name="OmniStats"
                    WorkingDirectory="INSTALLFOLDER"
                    Target="[#OmniStatsExe]"
                    Icon="LogoIcon" />
          <Shortcut Id="DesktopShortcut"
                    Directory="DesktopFolder"
                    Name="OmniStats"
                    WorkingDirectory="INSTALLFOLDER"
                    Target="[#OmniStatsExe]"
                    Icon="LogoIcon" />
          <RegistryValue Root="HKCU" Key="Software\OmniStats" Name="installed" Type="integer" Value="1" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="AppDataFolder">
      <Directory Id="AppDataOmniStatsFolder" Name="omnistats">
        <Component Id="CurlDll" Guid="C9A9073A-EE86-4F2F-B955-C178D0B7583F">
          <File Id="CurlImpersonateDll" Source="$(var.SourceDir)\libcurl-impersonate.dll" KeyPath="yes" />
          <RegistryValue Root="HKCU" Key="Software\OmniStats" Name="curl_installed" Type="integer" Value="1" />
        </Component>
        <Component Id="ZlibDll" Guid="D0A9073A-EE86-4F2F-B955-C178D0B75840">
          <File Id="ZlibDllFile" Source="$(var.SourceDir)\zlib.dll" KeyPath="yes" />
          <RegistryValue Root="HKCU" Key="Software\OmniStats" Name="zlib_installed" Type="integer" Value="1" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="OmniStats Application" Level="1">
      <ComponentRef Id="ApplicationFiles" />
      <ComponentRef Id="CurlDll" />
      <ComponentRef Id="ZlibDll" />
    </Feature>
  </Package>
</Wix>
