---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest

UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
NamespaceIndentation: All
ColumnLimit: 0

BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: Never
ReflowComments: false
FixNamespaceComments: false

MaxEmptyLinesToKeep: 1

InsertBraces: false
